servicios-especializados.sublime-project
servicios-especializados.sublime-workspace
core
core/*
default/app/config/config.ini
default/app/config/database.ini
default/app/temp/*
default/app/extensions/helpers/mail.php
default/public/.sass-cache/*
default/public/bower_components
default/public/bower_components/*
default/public/temp/*

